 <%- layout('layout') -%>
 <h2>Diets N Supplements </h2>
 <div class="uk-container">
 	<div class="uk-child-width-1-4@m" uk-grid>
    	 <% for (var i = 0; i < products.length; i++) { %>	 
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src=<%= products[i].image %> ">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title"><%= products[i].name %></h3>
                    <form method="post">
                    <input type="hidden" name="product_id" value="<%= products[i]._id %>"></input>
                	<input type="hidden" name="product_price" value="<%= products[i].price %>"></input>
                    <button class="uk-button uk-button-danger">Rs <%= products[i].price %></button>
                    </form>
            	</div>
        	</div>
    	</div>
    	<% } %>
    </div>
</div> 