<%- layout('layout') -%>
<div class="uk-container text-center">
	<div class="uk-grid">
		<div class="uk-width-1-3@m">
			<img class="product-image" src=<%= product.image %> alt=<%= product.name %>>
		</div>
		<div class="uk-width-2-3@m text-center product-info">
			<p class="uk-heading-primary"><%= product.name %></p>
			<span class="uk-label"><%= product.category %></span>
			<h3><i class="fa fa-rupee-sign"></i> <%= product.price %></h3>
				<form method="post" action="/cart">
					<input type="hidden" name="product-id" value=<%= product._id %> />
					<button class="uk-button uk-button-secondary product-add-to-cart" type="submit"><i class="fa fa-shopping-cart button-icon"></i> Add to Cart</button>
				</form>
		</div>
	</div>
</div>