<%- layout('layout') -%>
<h2><%= user.firstName %></h2>
<h2>product page</h2>
<div class="uk-container">
<div class="uk-child-width-1-4@m" uk-grid>
    	<div>
        	<div class="uk-card uk-card-default uk-card-hover">
	            <div class="uk-card-media-top">
	                <img src=<%= product.image %> ">
	            </div>
	            <div class="uk-card-body">
                	<h3 class="uk-card-title"><%= product.name %></h3>
                        <button class="uk-button uk-button-danger">Rs <%= product.price %></button>
            	</div>
        	</div>
    	</div>
    </div>
</div>