<%- layout('layout') -%>
<h2>Welcome <%= user.firstName %></h2>
 <div class="uk-container">   
     <div class="uk-grid" >
        <div class="uk-width-1-3@m">
            <img class="profile-image" src="assets/light.jpg" alt="Image">
        </div>
        <div class="uk-width-2-3@m">
            <table class="uk-table text-center">
                <tbody>
                    <tr>
                        <td>Name :</td>
                        <td><%= user.firstName %> <%= user.lastName %></td>
                    </tr>
                    <tr>
                        <td>email :</td>
                        <td><%= user.email %></td>
                    </tr>
                    <tr>
                        <td>Contact No</td>
                        <td>
                            <% if (user.contact) { %>
                            <%= user.contact %>
                            <% } else { %>
                                --
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <% if (user.address) { %>
                            <%= user.address %>
                            <% } else { %>
                                --
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>Pincode</td>
                        <td>
                            <% if (user.pincode) { %>
                            <%= user.pincode %>
                            <% } else { %>
                                --
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>
                            <% if (user.gender) { %>
                            <%= user.gender %>
                            <% } else { %>
                                --
                            <% } %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="/editProfile" class="text-center"><button class="uk-button uk-button-secondary">edit profile</button></a>
        </div>
    </div>
</div>

<h2 class="text-center">History</h2>
<div class="uk-container">
    <table class="uk-table uk-table-middle uk-table-striped uk-table-responsive uk-table-divider text-center">
        <thead class="history-heading">
            <tr>
                <th>Date of Purchase</th>
                <th>Item</th>
                <th>Price</th>
                <th>Invoice</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < user.history.length; i ++) { %>
                <tr>
                    <form method="post" action="invoice">
                        <input type="hidden" name="history_id" value=<%= user.history[i]._id %>>
                        <td><%= user.history[i].date.toISOString().substring(0, 10) %></td>
                        <td><%= user.history[i].item.name %></td>
                        <td><i class="fa fa-rupee-sign"></i><%= user.history[i].price %></td>
                        <td><button type="submit" class="uk-button uk-button-primary">Invoice</button></td>
                    </form>
                </tr>
            <% } %>
        </tbody>
    </table>
    <a href="/logout" class="text-center"><button class="uk-button uk-button-default">Logout</button></a>
</div>